body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
}

.profile-image {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #3498db;
}

.profile-name {
    font-size: 22px;
    margin: 10px 0;
    color: #333;
}

.profile-age, .profile-class {
    font-size: 16px;
    color: #777;
}

.skills {
    margin-top: 20px;
    text-align: left;
}

.skills h3 {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}

.skill {
    margin-bottom: 10px;
}

.skill span {
    font-size: 14px;
    color: #555;
}

.progress {
    width: 100%;
    background: #ddd;
    height: 8px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

.progress-bar {
    height: 100%;
    background: #3498db;
}

h3 {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}

.tugas {
    font-size: 14px;
    color: #555;
    text-align: left;
}
.chatwa {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tugas p span {
    margin-left: 1rem;
    animation: animasiNeon 1s ease infinite alternate;
}

@keyframes animasiNeon {
    0% {
        color: #3498db;
    }
    50% {
        color: rgb(202, 57, 57);
    }
    100% {
        color: purple;
    }
}